# Default ignored files
/shelf/
.idea
/.idea/workspace.xml
/compiler.xml
/uiDesigner.xml
/jarRepositories.xml
/misc.xml
/vcs.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
**/[Tt]arget*
/0-training-log-plugins/src/main/resources/sessions.csv